html, body, #app {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
}

:root {
    --background-primary: #efefef;
    --background-secondary: #147;
    --gray-light: #989898;
    --gray-dark: #232323;
    --primary: #3bd;
    --primary-dark: #046;
    --border-primary: 1px solid var(--primary);
    --black: #111;
}

::-webkit-scrollbar {
    width: .25rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #000;
    -webkit-box-shadow: inset 0 0 6px #000;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    outline: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #3333;
    backdrop-filter: blur(3px);
    z-index: 5;
    display: none;
}

.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
    background: #fff;
    z-index: 6;
    display: flex;
    flex-direction: row;
    transform: translateX(calc(100% - 3rem));
    transition-duration: 250ms;
    background: var(--gray-dark);
    color: var(--background-primary);
    
}

.overlay.show {
    display: flex;
}

.sidebar.show {
    transform: translateX(0%);
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 100%;
    align-items: center;
}

.sidebar.show .sidebarNav {
    border-right: var(--border-primary);
}

.sidebarTitle {
    color: var(--primary);
    font-size: 1.5rem;
}

.sidebarNavBtn {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
    padding: .5rem;
    transition-duration: 250ms;
    cursor: pointer;
}

    .sidebarNavBtn i {
        font-size: 2rem;
    }

    .sidebarNavBtn.active {
        color: var(--primary) !important;
    }

        .sidebarNavBtn.active i, .sidebarNavBtn:hover i {
            text-shadow: 0px 0px 4px;
        }

.sidebarView {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .5rem;
    align-items: center;
}

.sidebarTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    margin-top: 1rem;
    padding-right: .25rem;
}

.sidebarTableRow {
    display: grid;
    width: 100%;
    grid-template-columns: 7fr 1fr 1fr;
    grid-column-gap: 4px;
    vertical-align: middle;
    border-bottom: .5px solid var(--gray-light);
    margin: .25rem 0;
    font-size: .85rem;
}

.sidebarTableRow p {
    margin: 0;
    vertical-align: middle;
}

.tableIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
}

.tableIcon:hover {
    color: var(--primary);
    text-shadow: 0px 0px 8px var(--primary);
}

.tableRowInput, .tableRowSelect {
    background: var(--black);
    color: var(--primary);
    outline: none;
    appearance: none;
    border: none;
    width: 100%;
    padding: .25rem;
}


.tableRowInput:disabled, .tableRowSelect:disabled {
    color: #fff;
    background: none;
}

.addNewRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin: .125rem 0;
}

.btn {
    background: var(--primary);
    color: var(--black);
    border: none;
    padding: .125rem .75rem;
    transition-duration: 200ms;
}

.btn:hover {
    box-shadow: 0px 0px 10px 2px var(--primary);
}

dialog {
    position: absolute;
    left: calc(100% - 325px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    padding: 1rem;
    width: 300px;
    border: none;
}

.inventoryContainer {
    width: 100%;
    height: 100%;
    padding: .5rem;
    display: grid;
    grid-template-rows: 30px auto;
}

.inventoryNav {
    display: flex;
    flex-direction: row;
}

.inventoryNavTab {
    font-size: .85rem;
    padding: .25rem .5rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid var(--gray-light);
    border-bottom: none;
    position: relative;
    cursor: pointer;
    transition-duration: 200ms;
    margin-right: 1px;
    height: 30px;
}

.inventoryNavTab:hover {
    background: var(--gray-light);
}

.inventoryNavTab.active {
    background: #fff !important;
    cursor: default;
    color: var(--primary-dark);
}

.inventoryNavTab.active::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #fff;
}

.inventoryDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    border: 1px solid var(--gray-light);
}