@page "/"
@inject LocationService _locationService
@implements IDisposable


@foreach (var location in _locationService.Locations)
{
    <p>@location.LocationName</p>
}

<NavMenu />





@code {

    protected override async Task OnInitializedAsync()
    {
        _locationService.OnStateChange += StateHasChanged;
        await _locationService.SetLocations();
    }


    public void Dispose()
    {
        _locationService.OnStateChange -= StateHasChanged;
    }
}


